LIMPEZA DE DADOS

Imports:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Data frame

In [11]:
df = pd.read_excel("../Proj2.xlsx")
df.head(3)

,id_pedido,nome_cliente,modo_envio,estado,vendas,quantidade,desconto,lucro,segmento,região,...,dia_pedido,dia_semana_pedido,mes_pedido,ano_pedido,dia_envio,mes_envio,ano_envio,data_pedido,mes_ano,tempo_preparacao
0,1,Muhammed MacIntyre,Expresso,Paraná,825.174,9,0.30,-117.8820,Corporativo,Sul,...,4,Domingo,9,2016,6,9,2016,42617,42617,2
1,2,Ruben Dartt,Normal,São Paulo,411.332,4,0.15,-4.8392,Consumidor,Sudeste,...,5,Sexta-feira,9,2014,9,9,2014,41887,41887,4
2,3,Liz Pelletier,Mesmo Dia,São Paulo,411.332,4,0.15,-4.8392,Home Office,Sudeste,...,28,Quinta-feira,11,2013,28,11,2013,41606,41606,0

IDENTIFICANDO PROBLEMAS:
1- Visão geral dos dados

In [17]:
print (df.info())

print(df.describe())
#mean = media aritmetica, std = desvio padrao
#que nem falaram na aula tem que usar print se nao so devolve o ultimo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_pedido          9994 non-null   int64
 1   nome_cliente       9994 non-null   object
 2   modo_envio         9994 non-null   object
 3   estado             9994 non-null   object
 4   vendas             9994 non-null   float64
 5   quantidade         9994 non-null   int64
 6   desconto           9994 non-null   float64
 7   lucro              9994 non-null   float64
 8   segmento           9994 non-null   object
 9   região             9994 non-null   object
 10  subcategoria       9994 non-null   object
 11  categoria          9994 non-null   object
 12  dia_pedido         9994 non-null   int64
 13  dia_semana_pedido  9994 non-null   object
 14  mes_pedido         9994 non-null   int64
 15  ano_pedido         9994 non-null   int64
 16  dia_envio          9994 non-null   int64
 17  mes_envio          9994 non-null   int64
 18  ano_envio          9994 non-null   int64
 19  data_pedido        9994 non-null   int64
 20  mes_ano            9994 non-null   int64
 21  tempo_preparacao   9994 non-null   int64
dtypes: float64(3), int64(11), object(8)
memory usage: 1.7+ MB
None
         id_pedido        vendas   quantidade     desconto        lucro  \
count  9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   4997.500000    229.858001     3.789574     0.156203    28.656896
std    2885.163629    623.245101     2.225110     0.206452   234.260108
min       1.000000      0.444000     1.000000     0.000000 -6599.978000
25%    2499.250000     17.280000     2.000000     0.000000     1.728750
50%    4997.500000     54.490000     3.000000     0.200000     8.666500
75%    7495.750000    209.940000     5.000000     0.200000    29.364000
max    9994.000000  22638.480000    14.000000     0.800000  8399.976000

        dia_pedido   mes_pedido   ano_pedido    dia_envio    mes_envio  \
count  9994.000000  9994.000000  9994.000000  9994.000000  9994.000000
mean     15.601461     7.805683  2014.722934    15.829798     7.738043
std       8.744958     3.287618     1.124039     8.803977     3.345842
min       1.000000     1.000000  2013.000000     1.000000     1.000000
25%       8.000000     5.000000  2014.000000     8.000000     5.000000
50%      16.000000     9.000000  2015.000000    16.000000     9.000000
75%      23.000000    11.000000  2016.000000    24.000000    11.000000
max      31.000000    12.000000  2016.000000    31.000000    12.000000

         ano_envio   data_pedido       mes_ano  tempo_preparacao
count  9994.000000   9994.000000   9994.000000       9994.000000
mean   2014.738743  42125.005003  42125.005003          3.958175
std       1.127020    420.489377    420.489377          1.747567
min    2013.000000  41277.000000  41277.000000          0.000000
25%    2014.000000  41782.000000  41782.000000          3.000000
50%    2015.000000  42182.000000  42182.000000          4.000000
75%    2016.000000  42504.000000  42504.000000          5.000000
max    2017.000000  42734.000000  42734.000000          7.000000

IDENTIFICANDO PROBLEMAS: 2- Verificando nulls, duplicadas e se tem categorias com mesmo significado porém escritas diferentes

In [18]:
print(df.isnull().sum())
print(df.duplicated().sum())
print(df['subcategoria'].unique())
print(df['categoria'].unique())

id_pedido            0
nome_cliente         0
modo_envio           0
estado               0
vendas               0
quantidade           0
desconto             0
lucro                0
segmento             0
região               0
subcategoria         0
categoria            0
dia_pedido           0
dia_semana_pedido    0
mes_pedido           0
ano_pedido           0
dia_envio            0
mes_envio            0
ano_envio            0
data_pedido          0
mes_ano              0
tempo_preparacao     0
dtype: int64
0
['Estantes' 'Cadeiras' 'Mobiliário' 'Mesas' 'Eletrodomésticos' 'Arte'
 'Pastas' 'Envelopes' 'Fixadores' 'Etiquetas' 'Papel' 'Armazenamento'
 'Suprimentos' 'Acessórios' 'Copiadoras' 'Máquinas' 'Telefones']
['Móveis' 'Materiais de Escritório' 'Tecnologia']

Dessa forma, temos 0 nulls, 0 duplicados e 0 nomes que estão em conflito.